<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand " href="#" style="color:rgb(85, 98, 237);"><b>&#169;  </b></a>


   


    <button class="btn btn-danger" (click)="logout()">Logout</button>

</nav>


<p style="color:white;">login details (unformatted):{{lDate}}</p>

<p style="color:white;">login details (formatted):{{lDate|date:'shortTime'}}</p>



















                    <div class="form-group">
                        <input type="submit" value="Searchbox" class="btn float-right open_btn" style="width:50%">
                    </div>
                

        













